
<h1> Transaction App for <%= user.username %> </h1>
<div class="row">
  <div class="col">
    <p> Here is your transactions list! </p>
  </div>
</div>
<form method="post" action="transaction">
  new item: <input type="text" name="description">
  <br>
  new amount: <input type="text" name="category">
  <br>
  new category: <input type="text" name="category">
  <br>
  <input type="submit" value="store">
</form>
