<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Jeremy Huey is a graduating cryptid that will hopefully find some place new to haunt instead of the
    Computer Science dept at Brandeis University and the Gertzenzang Library locker lounge. Shoutout to
    the Hidey Hole lounge also for a peaceful time. Previously, Jeremy was at the Berklee College of Music
    for composition and film scoring. 
    He enjoys making useful things and tools for people that help for daily life, and is interested in
    building technologies that interact with music and art in a useful, meaningful way. Eg. in researching,
    the relationship of music communication to meaning. 
</body>
</html>